.head {
  font-family: 'PT Sans Narrow', sans-serif;
  height: 100px;
  text-align: center;
  font-size: 55px;
  color: whitesmoke;
  background-color: rgba(231, 26, 26, 0.836);
  margin: 0 auto;
  padding: 50px;
}
.subHead{
  height: 200px;
  text-align: center;
}
.monthHead{
  font-size: 30px;
}
.btn{
  font-size: 12px;
  background-color: rgba(158, 158, 158, 0.747);
  margin: 5px;
  border: 1px black solid;
}
.cal{
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 auto;
}
.nxtWk{
  float: right;
}